<nav class="top-bar" data-topbar role="navigation">
    <h1 class="zaglavlje">Imenik</h1>
 </nav>

    <!-- razmak između zaglavlja i ostatka-->
    <br />
    <br />

<%= render 'form' %>

	<br />
<div class="nazad prozor" align="center" >
    <%= link_to 'Prikaži', @user_telephone %> |    |      
    <%= link_to 'Nazad', user_telephones_path %>
    </div>





 