  <nav class="top-bar" data-topbar role="navigation">
    <h1 class="zaglavlje">Novi broj</h1>
  </nav>

<%= render 'form' %>

<br />




<div class=" a" align="center" >
    <input type="submit" name="commit" value="Potvrdi"> |    |      
    <a href="/user_telephones">Nazad</a>
</div>

